*.o
*.cmd
*.a
*.tmp
.config*
.missing-syscalls.d
.tmp*
.version
Module.symvers
System.map
*.dtb
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
*.asn1.*
drivers/of/unittest-data/testcases.dtb.S
include/config/
include/generated/
kernel/bounds.s
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/kconfig/.mconf-cfg
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.s
vmlinux